body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: lightgreen;
}

#tablero {
  border-collapse: collapse;
}

td {
  width: 2rem;
  height: 2rem;
  background-color: greenyellow;
  border: 2px solid black;
  color: transparent;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

td:hover {
  background-color: darkgray;
  color: initial;
}